$px-1: .0625rem;
$px-2: .125rem;
$px-4: .25rem;
$px-8: .5rem;
$px-12: .75rem;
$px-16: 1rem;

$top-padding: $px-8;
$bottom-padding: $px-8;
$right-padding: $px-8;
$left-padding: $px-8;

:host {
  display: flex;
  flex-direction: column;
}
:host.label-align-left, :host.label-align-right {
  flex-direction: row;
  align-items: center;
}
label {
  font-size: $px-12;
  margin: 0 $px-8 0 0;
}
div.main {
  display: flex;
  flex-direction: column;
}
div.input {
  // background-color: #f3f3f3;
  padding: 0 $right-padding 0 $left-padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid $px-1 #aaa;
  border-radius: $px-2;
  box-shadow: 0 0 0 0 transparent;
  transition: .1s;
  &:hover {
    border: solid $px-1 #888;
  }
  &.focused:not(.invalid) {
    border: solid $px-1 #5071c8;
    box-shadow: 0 0 $px-4 $px-1 #5071c8;
  }
  &.invalid {
    border: solid $px-1 red;
  }
  & slot[name="leading"]::slotted(*) {
    padding-right: $px-8;
  }
  & slot[name="trailing"]::slotted(*) {
    padding-left: $px-8;
  }
}
input {
  width: 100%;
  border: none;
  font-size: $px-16;
  margin: $top-padding 0 $bottom-padding 0;
  &:focus {
    outline: none;
  }
}
.placeholder {
  color: #aaa;
  font-size: $px-12;
}
